{% extends "base.html" %}

{% block content %}
<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  <header class="page-head">
    <!-- RD Navbar Transparent-->
    <section class="rd-parallax context-dark">
      <div data-speed="0.2" data-type="media" data-url="/static/eventos/images/bg/8.jpg" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="shell section-top-34 section-sm-top-98 section-bottom-34">
          <div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- Page Contents-->
  <main class="page-content">
    <!--Section Real Estate Agents-->
    <section class="section-98 section-sm-110 section-bottom-66">
      <div class="shell">
        <h2 class="text-bold">Acerca de Tango Alive</h2>
        <hr class="divider bg-saffron">
        <div class="offset-sm-top-66">
          <!-- Responsive-tabs-->
          <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic">
            <div data-group="tabs-group-default" class="resp-tabs-container tabs-group-default">
              <div>
                <div class="range section-34">
                  <div class="cell-md-5"><img src="/static/eventos/images/bg/1.jpg" width="470" height="310" alt="" class="img-responsive reveal-inline-block"></div>
                  <div class="cell-md-7 offset-top-30 offset-md-top-0 text-md-left">
                    <div class="inset-md-left-40">
      <p>Tango Alive, te trae todos los conciertos de Tango para que no te pierdas la experiencia de disfrutar
          Tango en vivo. Conectamos los fans de la música en vivo con los artistas.
En Tango Alive conectamos a los seguidores con los artistas que ellos aman.</p> <p>Hoy en día estamos viviendo un momento
          inédito para el Tango, el nivel de producción alcanzado de las agrupaciones y las orquestas es similiar o superior a la época dorada. El Tango vuelve a consolidarse como una música llena de vida en la ciudad de Buenos Aires.
Tango Alive pone al alcance de los seguidores, una base de datos actualizada donde podrán descubrir nueva música a
          través de distintos dispositivos.</p>

                        <p>Creemos que vivir la experiencia de la música en vivo es un momento único e inigualable.
          es nuesra pasión y los que nos moviliza.
Proveemos información actualizada para que los fans puedan hacer un seguimiento para que nunca puedan
          perderse un concierto en vivo y descburir nuevos artistas.
Somos Tango Alive, nos gusta el Tango en Vivo.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}