{% extends "base.html" %}

{% block menu_items %}
<li class="active"><a href="/browse">Buscar eventos</a></li>
<li><a href="/about">Acerca de</a></li>
{% endblock %}

{% block content %}
    <div class="container">

      <div class="jumbotron">
        <h1>Buscar</h1>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <p>Tango Alive, te trae todos los conciertos de Tango para que no te pierdas la experiencia de disfrutar
              Tango en vivo. Conectamos los fans de la música en vivo con los artistas.
En Tango Alive conectamos a los seguidores con los artistas que ellos aman. Hoy en día estamos viviendo un momento
              inédito para el Tango, el nivel de producción alcanzado de las agrupaciones y las orquestas es similiar o superior a la época dorada. El Tango vuelve a consolidarse como una música llena de vida en la ciudad de Buenos Aires.
Tango Alive pone al alcance de los seguidores, una base de datos actualizada donde podrán descubrir nueva música a
              través de distintos dispositivos.
Creemos que vivir la experiencia de la música en vivo es un momento único e inigualable.
              es nuesra pasión y los que nos moviliza.
Proveemos información actualizada para que los fans puedan hacer un seguimiento para que nunca puedan
              perderse un concierto en vivo y descburir nuevos artistas.
Somos Tango Alive, nos gusta el Tango en Vivo.
</p>
        </div>
    </div> <!-- /container -->

{% endblock %}