{% extends "base.html" %}
{% block custom_meta_tags %}
<meta property="og:type" content="article" />
<meta property="og:title" content="Tango Alive" />
<meta property="og:description" content="Tango Alive, te trae todos los conciertos de Tango para que no te pierdas la experiencia de disfrutar Tango en vivo. Conectamos los fans de la música en vivo con los artistas. En Tango Alive conectamos a los seguidores con los artistas que ellos aman.
Hoy en día estamos viviendo un momento inédito para el Tango, el nivel de producción alcanzado de las agrupaciones y las orquestas es similiar o superior a la época dorada. El Tango vuelve a consolidarse como una música llena de vida en la ciudad de Buenos Aires. Tango Alive pone al alcance de los seguidores, una base de datos actualizada donde podrán descubrir nueva música a través de distintos dispositivos.
Creemos que vivir la experiencia de la música en vivo es un momento único e inigualable. es nuesra pasión y los que nos moviliza. Proveemos información actualizada para que los fans puedan hacer un seguimiento para que nunca puedan perderse un concierto en vivo y descburir nuevos artistas. Somos Tango Alive, nos gusta el Tango en Vivo." />
<meta property="og:image" content="http://tangoalive.com/static/eventos/images/tango_logo.png" />
<meta property="og:locale" content="es_AR" />
<meta name="google-site-verification" content="wM1wpq-HxpQs7APe0hVSO3orkWLHAI3IfJWo9uT8pyU" />
{% endblock %}
{% block content %}
<!-- Page Content-->
<main class="page-content">
<!-- Header Transparent-->
<!-- RD Parallax-->
<div data-on="false" data-md-on="true" class="rd-parallax">
  <div data-speed="0.35" data-type="media"
       data-url="/static/eventos/images/portada_head/{{img_rnd_head}}.jpg"
       class="rd-parallax-layer">
   </div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <section class="section-254 context-dark bg-overlay-gray-darkest">
      <div class="shell">
        <h2 class="offset-top-10"><span class="big"> Tango Alive</span></h2>
        <div class="post-meta">
          <ul class="list-inline p">
            <li>La agenda del tango aut&eacute;ntico de Buenos Aires
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
{% if latest_eventos_highlighted %}
<!--Section destacados -->
<section class="section-34">
  <div class="shell-fluid">
    <h2 class="text-bold">Eventos Destacados</h2>
    <div class="range range-xs-center">
    {% for evento in latest_eventos_highlighted %}
      <div class="clickable cell-xs-8 cell-sm-6 cell-lg-3">
          <a href="/eventos/{{evento.id}}">&nbsp;</a>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry">
            <img width="442" height="280" src="/media/{{evento.image_1}}"/>
          <figcaption>
            <div>
            <a href="/eventos/{{evento.id}}">
              <h4 class="thumbnail-terry-title">{{evento.name}} </h4>
            </a>
            </div>
            <a href="/eventos/{{evento.id}}">
            <p class="thumbnail-terry-desc offset-top-0">
                <i class="fa fa-calendar"></i> {{evento.next_day}} -
                <i class="mdi mdi-home-variant"></i> {{evento.place}}</p>
              <a href="/eventos/{{evento.id}}" class="btn offset-top-10 offset-md-top-0 btn-primary">Ver Detalles</a>
            </a>
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<!--Section Recent Eventos-->
<section class="section-bottom-98 section-top-34 section-md-bottom-110 section-md-top-66">
  <div class="shell">
    <h2 class="text-bold">Pr&oacute;ximos Eventos</h2>
    <div class="range">
    {% if latest_eventos_list %}
    {% for evento in latest_eventos_list  %}
      <div class="cell-sm-6 cell-md-4 {% cycle '' 'offset-sm-top-0' 'offset-sm-top-0' %}">
        <a href="/eventos/{{ evento.id }}">
            <img src="/media/{{evento.image_1}}" width="370" height="250" alt=""
                 class="img-responsive reveal-inline-block">
        </a>
        <div class="text-sm-left offset-top-24">
          <div>
            <h5 class="text-bold text-primary"><a href="/eventos/{{ evento.id }}">{{ evento.name }}</a></h5>
          </div>
          <h6 class="offset-top-10"><i class="fa fa-dollar"></i>{{ evento.get_precio|safe }}</h6>
          <ul class="list-inline list-inline-dotted text-dark">
            {% if evento.tipo_evento %}
              <li><i class="mdi mdi-library-music"></i>{{ evento.tipo_evento }}</li>
            {% endif %}
            <li><i class="fa fa-calendar"></i> {{ evento.next_day }}</li>
            {% if evento.place %}
              <li><i class="mdi mdi-home-variant"> </i>{{ evento.place }}</li>
            {% endif %}
          </ul>
          <div>
            <p>{{ evento.description|slice:":200"|striptags}}
                {% if evento.description|length > 200 %}
                    (...)
                {% endif %}
            </p></br>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    </div>
    <div class="offset-top-50"><a href="/eventos/" class="btn btn-primary">ver todos los eventos</a></div>
  </div>
</section>

</main>
{% endblock %}
