{% extends "base.html" %}
{% load static %}

{% block top %}
<div class="row top">
    <div class="col-xs-12 banner">
        <img class="resize_horizontal" src="{% static 'eventos/images/portada3.jpg' %}" alt="Tango Alive">
        <div class="caption">
          <h1>Tango Alive</h1>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Subscribe today</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 top-title">
        <h1>&nbsp;Eventos de Tango en vivo en Buenos Aires</h1>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    //$(window).ready(updateHeight);
    //$(window).resize(updateHeight);
</script>
{% endblock %}
