*.pyc
venv
*.swp
*.sqlite*
*.idea
src/tangoalive/eventos/static/eventos/eventos_pics/*
src/tangoalive/media
resources/tmp
resources/pics
src/tangoalive/tangoalive/custom_settings.py
src/tangoalive/static/
